<% if notice %>
    <p id="error_notice"><%= notice %></p>
<% end %>

<h1>Listing events</h1>
<!--
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Start datetime</th>
    <th>End datetime</th>
    <th>Location</th>
    <th>Food provided</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr id="event_entry">
    <td><%= event.name %></td>
    <td><%= event.description %></td>
    <td><%= event.start_datetime %></td>
    <td><%= event.end_datetime %></td>
    <td><%= event.location %></td>
    <td><%= event.food_provided %></td>
    <td><%= event.creator.username %></td>
    <td><%= link_to 'Show', event %></td>
    <% if current_user.admin? %>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
-->

<% @events.each do |event| %>
    <div id="event_entry">
        <div id="event_name"><%= event.name %></div>
        <div id="event_creator"><%= event.creator.username %></div>
        <div id="event_food"><%= event.food_provided %></div>
        <div id="event_startdate"><%= event.start_datetime %></div>
        <div id="event_location"><%= event.location %></div>
    </div>
<% end %>
<br />

<%= link_to 'New Event', new_event_path %>
