<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h2 id="page_title"><%= @event.name %></h2>
<h3 id="event_details_creator"><span id="by_element">by</span> <%= @event.creator.username %></h3>

<span class="event_detail_entry">
  <p>
    <b>Description:</b>
    <%= @event.description %>
  </p>

  <p>
    <b>Start datetime:</b>
    <%= @event.start_datetime %>
  </p>

  <p>
    <b>End datetime:</b>
    <%= @event.end_datetime %>
  </p>

  <p>
    <b>Location:</b>
    <%= @event.location %>
  </p>

  <p>
    <b>Food provided:</b>
    <%= @event.food_provided %>
  </p>
</span>

<% if current_user.admin? || (@event.creator.id == current_user.id) %>
  <%= link_to 'Edit', edit_event_path(@event), class: 'admin_button' %>
<% end %>
<%= link_to 'Back', events_path, class: 'admin_button' %>
