<h1 id="page_title">Listing majors</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @majors.each do |major| %>
  <tr>
    <td><%= major.name %></td>
    <td><%= link_to 'Show', major, class: 'btn btn-inverse remove_fields' %></td>
    <td><%= link_to content_tag(:i, "", class: "icon-pencil"), edit_major_path(major), class: 'btn btn-search remove_fields' %></td>
    <td><%= link_to content_tag(:i, "", class: "icon-trash"), major, method: :delete, data: { confirm: 'Are you sure you want to delete this major?'}, class: 'btn btn-danger remove_fields' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Major', new_major_path %>
