<!DOCTYPE html>
<html>
<head>
  <title>EventStack</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="user_nav">
    <% if user_signed_in? %>
      Hi there, <%= current_user.first_name %> | 
        <%= link_to "Sign Out", destroy_user_session_path %>
    <% else %>
      <%= link_to "Come on in!", new_user_session_path %> | 
      <%= link_to "Want to join?", new_user_registration_path %> 
    <% end %>
  </div>

<%= yield %>

</body>
</html>
