<!DOCTYPE html>
<html>
<head>
  <title>EventStack</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "EventStack", root_path, class: 'brand' %>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class=<%= controller.controller_name.capitalize == "Events" ? "active" : "" %>>
              <%= link_to "Events", events_path %>
            </li>
            <li class=<%= controller.controller_name.capitalize == "Users" ? "active" : "" %>>
              <%= link_to "Users", users_path %>
            </li>
            <% if current_user.admin? %>
              <li class=<%= controller.controller_name.capitalize == "Majors" ? "active" : "" %>>
                <%= link_to "Majors", majors_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
